<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shopping List App</title>
    <link
      rel="stylesheet"
      href="main.css"
    />
  </head>
  <body>
    <div id="shopping-list">
      <div class="header">
        <h1 data-cy="app-heading">{{header || 'Welcome'}}</h1>
        <button
          v-if="editing"
          v-on:click="doEdit(false)"
          class="btn btn-cancel"
          data-cy="cancel-button"
        >
          Cancel
        </button>
        <button
          v-else
          v-on:click="doEdit(true)"
          class="btn btn-primary"
          data-cy="add-item-button"
        >
          Add Item
        </button>
      </div>
      <div
        v-if="editing"
        class="add-item-form"
      >
        <input
          v-on:keyup.enter="saveItem"
          v-model="newItem"
          type="text"
          placeholder="Add an item"
          data-cy="new-item-input"
        />
        <label>
          <input
            type="checkbox"
            v-bind:disabled="!newItemValid"
            v-model="newItemHighPriority"
            data-cy="high-priority-checkbox"
          />
          High Priority
        </label>
        <button
          v-bind:disabled="!newItemValid"
          v-on:click="saveItem"
          class="btn btn-primary"
          data-cy="save-item-button"
        >
          Save Item
        </button>
      </div>
      <p
        v-if="items.length === 0"
        data-cy="nice-job-message"
      >
        Nice job! You've bought all your items!
      </p>
      <ul data-cy="shopping-list">
        <li
          v-for="item in sortedItems"
          v-bind:key="item.id"
        >
          {{item.label}}
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const shoppingListApp = Vue.createApp({
        data() {
          return {
            header: 'Shopping List Application',
            editing: false,
            newItem: '',
            newItemHighPriority: false,
            items: [
              //{ id: 1, label: '10 party hats' },
              //{ id: 2, label: '2 board games' },
              //{ id: 3, label: '20 cups' },
            ],
          };
        },
        computed: {
          reversedItems() {
            return [...this.items].reverse();
          },
          newItemValid() {
            return this.newItem.length > 5;
          },
          sortedItems() {
            return [...this.items].sort((a, b) =>
              a.label.localeCompare(b.label, undefined, { numeric: true })
            );
          },
        },
        methods: {
          saveItem() {
            this.items.push({ id: this.items.length + 1, label: this.newItem });
            this.newItem = '';
          },
          doEdit(editing) {
            this.editing = editing;
            this.newItem = '';
          },
        },
      }).mount('#shopping-list');
    </script>
  </body>
</html>
